.grid-container {
    display: grid;
    grid-template-columns: .75fr .75fr .75fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "linkedin medium github youtube";
  }
  
  .linkedin { grid-area: linkedin; }
  
  .medium { grid-area: medium; }
  
  .github { grid-area: github; }
  
  .youtube { grid-area: youtube; }
  