html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.profileShot {
  right: -15vw;
}

@media (max-width: 1024px) {
  .profileShot {
    margin: auto;
    right: 0;
  }
}

.experience-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: 0fr 0fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title title title logo"
    "date date date logo"
    "description description description logo";
  padding-bottom: 5%;
}

.title { grid-area: title; }

.date { grid-area: date; }

.description { grid-area: description; }

.logo { grid-area: logo; }

.experience-item {
  min-width: 150px;
  min-height: 150px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}